@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  background: #2B3134;
  color: #777;
  text-align: center;
  font-family: "Gill sans", sans-serif;
}

.outer-div {
  width: 450px;
  height: 630px;
  border-radius: 10px;
  margin: auto;
  margin-top: 1em;
  -webkit-box-shadow: 5px 5px 5px 1px lightblue;
          box-shadow: 5px 5px 5px 1px lightblue;
  background-color: white;
}

#icon {
  position: absolute;
  left: 2%;
  height: 100%;
  width: 5%;
}

.container {
  border-radius: 10px;
}

.container input {
  width: 3.5em;
  height: 4em;
  background-color: #0821ff;
  border: 2px solid white;
  color: white;
  text-align: center;
}

.keyboard {
  height: 15em;
  width: 25em;
  margin: auto;
  color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[1];
      grid-template-columns: repeat(1, auto);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1em;
  gap: .5em;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 1px 1px lightblue;
          box-shadow: 1px 1px 1px 1px lightblue;
  cursor: pointer;
}

.keyboard .item-one {
  width: 99%;
}

.keyboard .item-two {
  width: 90%;
  margin: auto;
}

.keyboard .item-three {
  width: 80%;
  margin: auto;
}

.keyboard .item-four {
  width: 50%;
  margin: auto;
}

.keyboard .letter:hover {
  background-color: #8e92ad;
  border-radius: 5px;
}

.keyboard div {
  gap: 2px;
  margin: 2px;
  height: 80%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.keyboard #enter:hover {
  background-color: lightgreen;
  border-radius: 5px;
}

.keyboard #delete:hover {
  background-color: lightcoral;
  border-radius: 5px;
}

.grid-container {
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-top: 1.5em;
}

.grid-container input {
  width: 4.5em;
  height: 5em;
  background-color: #8e92ad;
  border: 2px solid white;
  text-align: center;
  color: black;
}

nav {
  background-color: white;
  height: 5.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Pacifico', cursive;
  border-bottom: 1px solid black;
}

nav div {
  font-size: 28px;
}

.flash {
  background-color: aqua;
}

p {
  color: white;
  font-size: 26px;
}

#loader-1 {
  margin-top: 20%;
  width: 20em;
  height: 20em;
}

.loader {
  margin: 0 2em 12em 0;
  height: 100%;
  width: 50%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
}

/*
    Set the color of the icon
  */
svg path,
svg rect {
  margin-top: 50%;
  fill: #00ccff;
}
/*# sourceMappingURL=style.css.map */