@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.outer-div{
    // border: 2px solid black;
    width: 450px;
    height: 630px;
    border-radius: 10px;
    margin: auto;
    margin-top: 1em;
    box-shadow: 5px 5px 5px 1px lightblue;
}
#icon{
    position: absolute;
    left: 2%;
    height: 100%;
    width: 5%;
}
.container{
 

    input{
        width: 3.5em;
        height: 4em;
        background-color: rgb(8, 33, 255);
        border: 2px solid white;
        color: white;
        text-align: center;
    }
}

.keyboard{
    height: 15em;
    width: 25em;
    // border: 2px solid black;
    margin: auto;
    color: black;
    display: grid;
    grid-template-columns: repeat(1, auto);
    // justify-content: center;
    // grid-template-rows: repeat(1, auto);
    flex-wrap: wrap;
    margin-top: 1em;
    gap: .5em;
    border-radius: 10px;
    box-shadow: 1px 1px 1px lightblue;

    .item-one{
        width: 99%;
        // background-color: red;
    }
    .item-two{
        width: 90%;
        margin: auto;
        // background-color: red;

    }
    .item-three{
        width: 80%;
        margin: auto;
    }
    .item-four{
        width: 50%;
        margin: auto;
    }
    
    .letter:hover{
        background-color: #8e92ad;
    }

    style.scss
    div{
        // background-color: grey;style.scss
        border: 1px solid black;
        gap: 2px;
        margin: 2px;
        height: 80%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 30px;
    }
    #enter:hover{
        background-color: lightgreen;
    }
    #delete:hover{
        background-color: lightcoral;
    }
}
    


.grid-container{
    margin:auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    justify-content: center;
    color: white;
    margin-top: 1.5em;
    input{
        width: 4.5em;
        height: 5em;
        background-color: #8e92ad;
        border: 2px solid rgb(255, 255, 255);
        text-align: center;
        color: black;
    }
}

nav{
    background-color: white;
    height: 5.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    border-bottom: 1px solid black;
    div{
        font-size: 28px;
    }
}

// Make enter button toggle to red so user can click it

.flash{
    background-color: aqua;
}